/* Normalize */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, legend {
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6 { font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 100%; }
address, caption, cite, code, dfn, th, var { font-style: normal; font-weight: normal; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
caption,th { text-align: left; }
/* @end */


#main-wrapper {
    width: 960px;
    margin: 0 auto;
}

/*bootstrap customizations */

.navbar-custom {
  background-color:#007662;
  font-size:28px;
  color:#ffffff;
  border-radius:0;
}
.navbar-custom .navbar-brand {
  color:#eeeeee;
  font-size:28px;
}


#metrics { width: 920px; margin: 0 auto 15px 0; font-family: Helvetica, sans-serif; }
#metrics #instruct {
    text-align: left;
    margin-bottom: 10px;
    margin-right: 20px;
    float: left;
    width: 210px;
    font-size: 14px;
    line-height: 1.4em;
    font-family: Georgia, serif;
}
#metrics h2 { font-size: 18px; font-family: Helvetica, sans-serif; text-align: center; margin-bottom: 0; }
#metrics h3 { font-size: 33px; font-family: Helvetica, sans-serif; text-align: center; margin-bottom: 0; }
#metrics ul { font-size: 12px; font-family: Helvetica, sans-serif; margin-left: 0; padding: 0; }
#metrics ul li {
    list-style: none;
    margin: 10px 4px 0 0;
    padding: 4px 0;
    display: inline-block;
    width: 278px;
    /*background: #e0e0e0;*/
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    border: 1px solid #e0e0e0;
}
#metrics ul li.bottom { margin-bottom: 0; }
#metrics #motor { width: 300px; float: left; }
#metrics .block-button { width: 140px; display: block; float:center; clear:both; }
div.tooltip {
    position: absolute;
    text-align: left;
    width: 170px;
    padding: 5px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    background: #ffffff;
    pointer-events: none;
    opacity: 0;
}
div.tooltip h3 { 
  font-size: 12px; margin: 0 0 3px 0; 
  line-height: 1.2em;
}
div.tooltip .line { clear: both; margin-top: 3px; font-size: 11px; }
div.tooltip .symbol { float: left; width: 6px; height: 6px; margin: 3px 4px 0 0; }
div.tooltip .val { float: right; width: 15px; text-align: right; margin-right: 4px; }
div.tooltip .chg { float: right; color: #aaa; width: 20px; text-align: right; }
.overlay {
  fill: none;
  pointer-events: all;
}
.button { fill: #000; }
.seattleneighborhoods {
  fill: #e0e0e0;
}

.seattleneighborhoods path.selected {
    stroke: #000;
    stroke-width: 0.5px;
}

path.FSR_total, #metrics ul li.selected.FSR_total, .tooltip .FSR_total { fill: #8dd3c7; background: #8dd3c7; }
path.DP_total, #metrics ul li.selected.DP_total, .tooltip .DP_total { fill: #bc80bd; background: #bc80bd; }
path.Breweries_total, #metrics ul li.selected.Breweries_total, .tooltip .Breweries_total { fill: #bebada; background: #bebada; }
path.MFS_total, #metrics ul li.selected.MFS_total, .tooltip .MFS_total { fill: #fb8072; background: #fb8072; }
path.LSR_total, #metrics ul li.selected.LSR_total, .tooltip .LSR_total { fill: #80b1d3; background: #80b1d3; }
path.NODATA { fill: #fff; }

.clr { clear: both; }

html {
    position: relative;
      min-height: 100%;
    }
    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
      }
      .footer {
          position: absolute;
          bottom: 0;
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
          width: 100%;
          /* Set the fixed height of the footer here */
          height: 60px;
          background-color: #f5f5f5;
     }
